<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>مجلس الشعب السوري</title>
    </script>
</head>

<body>
    <header>
        <h1>اهلا</h1>
        <nav>
            <ul>
                <li><a href="https://parliament.up.railway.app/register_form">تسحيل</a></li>
                <li><a href="https://parliament.up.railway.app/login_form">دحول</a></li>
            </ul>
        </nav>
    </header>
    <footer>
        
    </footer>
</body>
</html>